// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--primary: #697B03; // Site main color - (Основний колір сайту)
	--secondary: #7E4E24; // Site secondary color - (Додатковий колір сайту)
	--accent: #F9F9FA; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
	--inverse: #CBDD7A; // Site inverse color - (Наприклад: для створення контрасту між фоном та текстом)

	// Background colors (Фонові кольори):
	// =================================================================
	// --bg-primary: #FFFFFF; // BG primary background color - (Основний фоновий колір сайту)
	// --bg-secondary: #7678ed; // BG secondary background color - (Додатковий фоновий колір сайту)
	// --bg-accent: #4cc9f0; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	// --bg-inverse: #2d00f7; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.

	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: #7E4E24; // Text primary text color - (Основний текстовий колір сайту)
	--text-secondary: #25282B; // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-accent: #F9F9FA; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	--text-inverse: #697B03; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
	// =================================================================

	// Btn colors:
	// =================================================================
	--btn-primary: #7E4E24; // Text primary text color - (Основний текстовий колір сайту)
	--btn-secondary: #F9F9FA; // Text secondary text color - (Додатковий текстовий колір сайту)
	--btn-accent: #697B03; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	--btn-inverse: #CBDD7A; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
	// =================================================================
}