@keyframes s3 {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

@keyframes op-open {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes op-close {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes op {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }
}

.anm-op._watcher-view {
  animation: op 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.anm-show-up._watcher-view {
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom-absolute {
  0% {
    transform: translate(-50%, calc(-50% + 50px));
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.anm-show-up-absolute._watcher-view {
  animation: slide-in-bottom-absolute 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes fade-in-fwd {
  0% {
    transform: scale(.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.anm-fade-in-fwd._watcher-view {
  animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }

  10% {
    transform: scale(1.09);
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(1.02);
    animation-timing-function: ease-out;
  }

  33% {
    transform: scale(1.13);
    animation-timing-function: ease-in;
  }

  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.anm-heartbeat._watcher-view {
  animation: heartbeat 2s ease-in-out 2 4s both;

  @media (any-hover: hover) {
    .laptop__trainers:hover & {
      animation: unset;
    }
  }
}