//====================================================================================================

.footer {
   position: relative;
   // overflow: hidden;
   @include adaptiveValue("padding-top", 162, 102);
   @include adaptiveValue("padding-bottom", 72, 20);
   color: var(--light);
   background: #442808;
   z-index: 1;

   &__picture {
      position: absolute;
      bottom: 0;
      left: 0;

      @media (min-width:em(3800)) {
         width: 100%;
      }

      @media (max-width:$mobile) {
         opacity: 0.5;
      }

      img {
         object-fit: contain;

         @media (min-width:em(3800)) {
            width: 100%;
         }
      }

   }

   &__cup {
      position: absolute;
      top: rem(-235);

      @media (max-width:$tablet) {
         top: rem(-70);
      }

      &_left {
         left: 0;

      }

      &_right {
         right: 0;
      }
   }

   &__container {
      position: relative;
      z-index: 3;
      display: flex;
      @include adaptiveValue("gap", 66, 0);

      @media (max-width:$tablet) {
         flex-wrap: wrap;
      }

   }

   &__col {
      &:nth-child(1) {
         flex: 0 0 33.333%;

         @media (max-width:$pc) {
            flex: 0 0 25%;
         }

         @media (max-width:$tablet) {
            flex: 0 0 100%;

         }
      }

      &--menus {
         width: 100%;
      }
   }

   &__logo {
      @include adaptiveValue("font-size", 54, 35);
      margin-bottom: rem(20);

   }

   &__txt {
      font-size: rem(14);
      line-height: math.div(22, 14);
      margin-bottom: rem(30);
   }

   &__socials {}

   &__menu {}

   &__menu-list {
      display: flex;
      flex-direction: column;
   }

   &__menu-item {}

   &__menu-link {
      color: var(--light);
      white-space: nowrap;
      font-size: rem(18);
      margin-bottom: rem(20);

      &::before {
         background-color: var(--light);

      }
   }
}

.socials {
   display: flex;
   column-gap: rem(20);

   &__image {
      width: rem(24);
      height: rem(24);
      filter: var(--filter-white);
      transition: var(--transition);

      @media (any-hover: hover) {
         &:hover {
            opacity: .5;
         }
      }
   }
}




//====================================================================================================