//====================================================================================================

.header {
	@include adaptiveValue("padding-top", 20, 10);
	@include adaptiveValue("padding-bottom", 20, 10);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: padding-top .3s ease, padding-bottom .3s ease;
	font-size: rem(14);
	font-weight: 500;
	color: var(--light);

	&._header-scroll {
		@include adaptiveValue("padding-top", 10, 5);
		@include adaptiveValue("padding-bottom", 10, 5);
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.5) 65.80%, rgba(0, 0, 0, 0.00) 100%);
	}

	.no-touch.lock & {
		padding-right: 17px;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		transition: var(--transition);

		@media (max-width:$tablet) {
			@include adaptiveValue("gap", 60, 0);
		}
	}

	&__logo {
		position: relative;
		z-index: 100;
		flex: 0 0 auto;
		pointer-events: none;

		@media (max-width:$tablet) {
			order: 0;
			flex: 1 1 auto;
		}

		._header-scroll & {
			@include adaptiveValue("font-size", 30, 25);
		}
	}

	&__menu {
		flex: 1 1 auto;

		@media (max-width:$tablet) {
			order: 2;
			flex: 0 0 auto;
		}
	}

	&__menu-login {
		flex: 0 0 auto;
		position: relative;
		z-index: 100;

		@media (max-width:$tablet) {
			order: 1;
		}

		.button {
			font-size: rem(14);
		}
	}
}

.logo {
	font-family: var(--fontAccent);
	@include adaptiveValue("font-size", 35, 30);
	transition: font-size .3s ease;
	color: var(--light);
}

.menu {
	padding: 0 rem(40);

	@media (max-width:$tablet) {
		padding: 0;
	}

	&__icon {
		position: relative;
		z-index: 100;
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width:$tablet) {
			position: absolute;
			top: 0;
			bottom: 0;
			right: -100%;
			width: 100%;
			z-index: 99;
			transition: transform .3s ease, height .3s ease !important;
			background-color: rgba($color: #1F2025, $alpha: .85);
			backdrop-filter: blur(8px);
			font-size: rem(24);
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			min-height: 100vh;

			.touch & {
				max-height: calc(var(--vh, 1vh) * 90);

				@media (max-width: $mobile) {
					transition: height 0.2s;
				}
			}

			@at-root html.menu-open & {
				transform: translateX(-100%);
			}
		}
	}

	&__body-wrap {
		@media (max-width:$tablet) {
			display: flex;
			align-items: center;
			text-align: center;
			flex-direction: column;
			padding: rem(50) 0;
			overflow: auto;
			width: 100%;
		}


	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("column-gap", 60, 0);
		row-gap: rem(10);
		flex-wrap: wrap;

		@media (max-width:$tablet) {
			flex-direction: column;
			gap: rem(20);
		}

		@media (max-width: em(499)) {
			margin-bottom: rem(40);

		}

	}

	&__item {}

	&__link {
		color: var(--light);

		&::before {
			background-color: #fff;
		}
	}

}

.menu-login {

	&__list {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 35, 0);

		@media (max-width: em(499)) {
			flex-direction: column;
			gap: rem(20);
		}
	}

	&__item {}

	&__link {
		color: var(--light);

		&::before {
			background-color: #fff;
		}

		&.button {
			color: var(--dark);
		}
	}
}





//====================================================================================================

//Burger
.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 100;
		margin: 0 0 0 auto;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}