//====================================================================================================

.header {
	position: fixed;
	// top: rem(20);
	@include adaptiveValue("top", 30, 14);
	width: 100%;
	z-index: 100;
	transition: transform .3s ease;

	&._header-scroll {
		transform: translateY(-150%);
	}

	&._header-show {
		position: fixed;
		transform: translateY(-0);
		top: rem(10);
	}

	@media (min-width:$mobile) {
		top: rem(26);

		.lock.no-touch & {
			padding-right: rem(17);
		}
	}

	&__container {}

	&__body {
		border-radius: rem(15);
		background: rgba(255, 255, 255, 0.40);
		display: flex;
		// align-items: center;
		justify-content: space-between;
		gap: rem(20);
		position: relative;
		transition: border-radius .3s ease .15s;

		@media (min-width:$mobile) {
			border-radius: rem(20);
		}

		&.-bkf {
			overflow: visible;
		}

		&.-bkf::before {
			border-radius: rem(15);

			@media (min-width:$mobile) {
				border-radius: rem(20);
			}
		}

		.menu-open & {
			border-radius: rem(15) rem(15) 0 0;
			transition: border-radius .0s ease .1s;

			@media (min-width:$mobile) {
				border-radius: rem(20) rem(20) 0 0;
			}

			@media (min-width:$tablet) {
				border-radius: rem(20)
			}
		}
	}

	&__btn.button.-icon {
		min-width: rem(45);
		min-height: rem(45);
		background: rgba(78, 78, 78, 0.29);

		@media (any-hover: hover) {
			&:hover {
				background: rgba(218, 255, 0, 0.59);
				;
			}
		}

		@media (min-width:$mobile) {
			font-size: rem(12);
			text-transform: uppercase;
		}
	}

	&__logo {
		display: inline-flex;
		align-items: center;
		justify-content: center;

	}

	&__menu {}

	&__nav {}

	&__nav-menu {}

	&__bot {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: rem(10);

		address a.button {
			font-size: rem(12);
		}
	}
}


.menu {

	&__icon {
		@media (min-width:$tablet) {
			pointer-events: none;
		}
	}

	&__body {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: rgba(255, 255, 255, 0.4);
		border-radius: 0 0 rem(15) rem(15);
		overflow: hidden;
		transition: max-height .3s, padding .3s;
		transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

		max-height: 0;
		padding: 0;


		@media (min-width:$mobile) {
			border-radius: 0 0 rem(20) rem(20);
		}

		@media (min-width:$tablet) {
			display: none;
		}

		.menu-open & {
			max-height: rem(2000);
			padding: rem(30) rem(10);


		}
	}

	&__list {}

	&__item {}

	&__link {}
}

.bkf-nav {
	address {
		display: flex;
		flex-wrap: wrap;
		gap: rem(10);
		flex-direction: column;
		margin-bottom: rem(20);
		align-items: flex-start;

		a.button {
			font-size: rem(12);

		}
	}
}

.menu-nav {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: rem(10);

	@media (min-width:$tablet) {
		flex-direction: row;
	}

	&__item {}

	&__item-link {
		@media (min-width:$tablet) {
			background: var(--grey100);
		}
	}
}


//====================================================================================================

//Burger

.icon-menu {
	width: rem(45);
	height: rem(45);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: rem(15);
	background-color: rgba(78, 78, 78, 0.29);
	transition: background-color .3s ease;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--accent);

			.icon-menu__line,
			.icon-menu__wrap::before,
			.icon-menu__wrap::after {
				background-color: #0B1E1E;
			}

		}
	}

	@media (min-width:$mobile) {
		width: rem(61);
		height: rem(61);
		border-radius: rem(20);
	}

	&.-bkf {
		overflow: hidden;
		border-radius: rem(15);

		@media (min-width:$mobile) {
			border-radius: rem(20);
		}
	}

	&.-bkf::before {
		border-radius: rem(15);

		@media (min-width:$mobile) {
			border-radius: rem(20);
		}
	}


	&__wrap {
		display: block;
		position: relative;
		width: rem(18);
		height: rem(16);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		.icon-menu__line,
		&::before,
		&::after {
			content: "";
			transition: width 0.3s ease, transform 0.3s ease, top 0.3s ease, bottom 0.3s ease, opacity 0.3s ease, background-color .3s ease;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}

		.icon-menu__line {
			width: 65%;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		.icon-menu__line {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			.icon-menu__line {
				width: 0;
				opacity: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}

	}




}