//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	// border-radius: 0 !important;
	width: 100%;
	display: inline-flex;
	align-items: center;
	padding: rem(10) rem(10) rem(10) rem(15);
	background: var(--inverse);
	border: 1px solid rgba(249, 192, 106, 0.42);
	min-height: rem(52);
	color: var(--textColorMain);
	margin-bottom: rem(20);
	border-radius: rem(8);

	@media (max-width:$mobile) {
		min-height: rem(44);
	}

	// border: 1px solid #eee;

	&:focus {
		outline: none;
		outline: 0;
		outline-width: 0px;
	}

	&._form-focus {}

	&._form-error {}
}

.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		color: rgba(112, 112, 112, 1);
		transition: var(--transition);
	}

	&:focus::placeholder {
		// opacity: 0;
		color: rgba(112, 112, 112, .5);
		outline: none;
		outline: 0;
		outline-width: 0px;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-appearance: none;
		border-width: 0;
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}