@font-face {
	font-family: E-UKRAINE;
	font-display: swap;
	src: url("../fonts/E-UKRAINE-BOLD.woff2") format("woff2"), url("../fonts/E-UKRAINE-BOLD.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: E-UKRAINE;
	font-display: swap;
	src: url("../fonts/E-UKRAINE-LIGHT.woff2") format("woff2"), url("../fonts/E-UKRAINE-LIGHT.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: E-UKRAINE;
	font-display: swap;
	src: url("../fonts/E-UKRAINE-MEDIUM.woff2") format("woff2"), url("../fonts/E-UKRAINE-MEDIUM.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: E-UKRAINE;
	font-display: swap;
	src: url("../fonts/E-UKRAINE-REGULAR.woff2") format("woff2"), url("../fonts/E-UKRAINE-REGULAR.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}