//====================================================================================================
.cover {
   position: relative;
   min-height: rem(500);
   display: flex;
   align-items: center;
   // min-height: 100vh;

   &__bg {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;

      @media (max-width:$mobile) {
         height: 105%;

      }

      img {
         width: 100%;
         height: 100%;
         // object-fit: cover;
      }

      // z-index: -1;
   }

   &__container {
      // @include adaptiveValue("padding-top", 260, 200);
      // @include adaptiveValue("padding-bottom", 275, 200);
      padding-top: 10vw;
      padding-bottom: 10vw;
      position: relative;
      z-index: 1;

      @media (min-width:rem(1439)) {
         padding-top: 12vw;
         padding-bottom: 12vw;
      }
   }

   &__body {
      padding-top: rem(100);
      padding-bottom: rem(100);
      width: 57%;
      font-weight: 500;

      @media (max-width:$tablet) {
         width: 65%;
      }

   }

   &__subtitle {
      @include adaptiveValue("font-size", 18, 16);
      margin-bottom: rem(5);
   }

   &__title {
      @include adaptiveValue("font-size", 44, 22);
      line-height: math.div(54, 44);
      margin-bottom: rem(20);

      span {
         color: var(--text-inverse);
      }
   }

   &__txt {
      @include adaptiveValue("font-size", 18, 14);
      padding-right: 30%;

      @media (max-width:$mobile) {
         padding-right: 10%;
      }
   }
}

//====================================================================================================
.banner {
   @include adaptiveValue("margin-bottom", 100, 50);
   position: relative;
   z-index: 2;


   &__container {
      text-align: center;
   }

   &__img {

      cursor: pointer;

      img {
         max-width: 100%;
      }
   }
}

//====================================================================================================

.ib {
   @include adaptiveValue("margin-bottom", 125, 50);

   &__container {}

   &__body {
      display: flex;
      @include adaptiveValue("gap", 40, 30);

      @media (max-width:$mobile) {
         flex-direction: column;
      }
   }

   &__img {
      flex: 0 0 54%;
      padding-bottom: 36%;

      @media (max-width:$mobile) {
         flex: 0 0 100%;
         padding-bottom: 56%;
         margin-bottom: rem(20);
      }
   }

   &__cnt {
      font-weight: 500;
      letter-spacing: rem(0.2);

   }

   &__title {
      @include adaptiveValue("margin-bottom", 40, 10);
   }

   &__txt {
      @include adaptiveValue("font-size", 18, 14);
      @include adaptiveValue("margin-bottom", 30, 15);
   }

   &__link {
      @include adaptiveValue("font-size", 18, 14);
      color: var(--text-primary);
   }
}

//====================================================================================================

.video {
   margin-bottom: rem(30);

   &__container {
      text-align: center;

      @media (max-width:$mobile) {
         text-align: left;
      }
   }

   &__title {
      display: inline-flex;
      @include adaptiveValue("margin-bottom", 50, 15);

   }

   &__wrap {
      max-width: rem(880);
      margin: 0 auto;
      position: relative;

      &::after {
         position: absolute;
         content: '';
         width: rem(82);
         height: rem(82);
         background: #000;
         background: url('@img/play.svg') no-repeat center, #E3C300;
         opacity: 0.81;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         cursor: pointer;
         pointer-events: none;
         transition: opacity .3s ease;

         @media (max-width:$mobile) {
            width: rem(62);
            height: rem(62);

         }
      }

      &.playing::after {
         opacity: 0;
      }
   }
}

//====================================================================================================
.quote {
   position: relative;
   @include adaptiveValue("margin-bottom", 110, 50);

   &__bg {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;

      img {
         width: 100%;
         height: 100%;
         // object-fit: cover;
      }
   }

   &__container {
      @include adaptiveValue("padding-top", 140, 60);
      @include adaptiveValue("padding-bottom", 80, 50);

      position: relative;
      z-index: 2;
      text-align: right;
   }

   &__cnt {
      text-align: center;
      @include adaptiveValue("font-size", 52, 28);
      display: block;
      max-width: rem(930);
      margin: 0 auto;
      @include adaptiveValue("margin-bottom", 60, 20);

      cite {
         display: block;
         @include adaptiveValue("font-size", 18, 14);
         @include adaptiveValue("margin-top", 20, 10);

      }
   }

   &__btn {
      @include adaptiveValue("font-size", 18, 16);
      font-weight: 500;
   }
}

//====================================================================================================

.contacts {
   position: relative;
   min-height: rem(870);

   @media (max-width:$mobile) {
      min-height: rem(690);
   }

   &__bg {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;

      img {
         width: 100%;
         height: 100%;
         // object-fit: cover;
      }
   }

   &__dec {
      position: absolute;
      z-index: 2;
      left: 0;
      bottom: rem(90);

      @media (max-width:$mobile) {
         width: 70%;
      }

      img {
         max-width: 100%
      }
   }

   &__container {
      @include adaptiveValue("padding-top", 245, 150);
      @include adaptiveValue("padding-bottom", 355, 120);
      position: relative;
      z-index: 3;
   }

   &__body {
      padding: 0;
      text-align: center;
      padding-left: 35%;
      width: 100%;

      @media (max-width:$mobile) {
         padding-left: 0;
      }
   }

   &__subtitle {}

   &__title {}

   &__txt {
      padding: 0 15%;
      margin-bottom: rem(35);
   }

   &__btn {
      margin: 0 auto;
   }
}

//====================================================================================================